body {
}

.full-page {
    height: 85vh;
}

.align-vertical{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}


.about-project {
    height: 85vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.25em;
}