.about-page {
  background-color: #ffffff;
}

/*#region background*/
.light-bg {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.medium-bg {
  background-color: var(--primary-medium);
  color: var(--primary-dark);
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.dark-bg {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
}
/*#endregion */

.about-head {
  margin: 0rem 2rem 0rem 2rem;
  display: inline-block;
}
.about-p {
  padding: 1rem 2rem 2rem 2rem;
}

.about-p2 {
  /* padding: 2rem 2rem 2rem 2rem; */
  text-align: center;
  margin: 1rem 2.5rem 1rem 2.5rem;
  font-size: 0.7rem !important;
  color: white;
  /* font-family: "ibm-plex-sans", sans-serif; */
}

.about-p3 {
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  margin: 1rem 2.5rem 1rem 2.5rem;
}

.about-p4 {
  padding: 2rem 5rem 2rem 5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.about-p5 {
  padding: 1rem 3rem 0rem 3rem;
  margin: 0rem 0rem 0rem 0rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.about-p6 {
  padding: 0.5rem 1rem 0rem 1rem;
  margin: 0rem 2rem 2rem 2rem;
}

.about-p7 {
  /* padding: 0.5rem 0rem 0.5rem 0rem; */
}

.about-dtpr {
  padding: 5rem 0rem 0rem 0rem;
}

/*#endregion */

/*#region text*/
.about-title {
  font-size: 1.5rem;
  padding-bottom: 0rem;
  font-weight: bold;
  text-align: left;
  margin: 0rem;
  color: #ff2551;
  font-family: "nova-mono", monospace;
  display: inline-block;
}

.about-subtitle {
  font-size: var(--primary-subtitle);
  padding-bottom: 0rem;
}
.about-subtitle-2 {
  font-size: var(--primary-subtitle);
  /* padding-bottom: 0.5rem; */
  font-size: 1.1rem;
}

.about-txt {
  font-size: var(--primary-txt);
  padding: 0rem;
  padding-bottom: 1rem;
  margin: 0rem;
  text-align: left;
  color: #ff2551;
}
.about-subtxt {
  font-size: var(--primary-subtxt);
  padding: 0.3rem;
}
.about-desc {
  font-size: var(--primary-desc);
  padding-bottom: 1rem;
}
/*#endregion */

/*#region hover*/
.about-dtpr-desc {
  /* display: none; */
}

.about-dtpr-sub:hover .about-dtpr-desc {
  /* display: block; */
}

.about-dtpr-sub:hover .about-subtxt {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.about-dtpr-sub:hover {
  cursor: pointer;
}
/*#endregion */

.AboutCarousel {
  /* height: 97vh; */
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
}

.image-container {
  width: 100%;
  aspect-ratio: 16 / 10; /* You can use 16:9 or any ratio you prefer */
  overflow: hidden; /* This ensures any excess part of the image is hidden */
  margin-bottom: 1rem;
}

.carousel-item {
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain the aspect ratio and fill the container */
}

a {
  color: var(--primary-dark);
  font-weight: bold;
  /* font-style: italic; */
}

.svg-icon2 {
  margin: 0;
  padding-right: 1rem;
}

hr {
  margin: 0;
}

/* Custom scrollbar styles for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffdae2; /* Color of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fb718d; /* Color of the scrollbar thumb on hover */
}

.font-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: #ff2551;
}
