body {
}

.about-p {
    background-color: white;
    border-radius: 1rem;
}

.about-p-text {
    color: #FF2551;
    padding: 2.5rem;
}


.about-title {
    background-color: white;
    border-radius: 1rem;
    color: #FF2551;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.full-page {
    height: 65vh;
}

.align-vertical{
    /*justify-content: center;*/
    /*align-items: center;*/
    display: flex;
    flex-wrap: wrap;
}
