.footer {
  background-color: #ff2551; /* Background color */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
  flex-direction: column;
}

.footer .container {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: space-around; /* Horizontal centering */
}

.footer-text {
  color: #ffdae2; /* Text color */
  font-size: 10px;
}

/* src/style/Footer.css */
.footer-logos {
  display: flex;
  justify-content: center;
}

.footer-logo {
  margin: 5px 5px;
  height: 20px; /* Adjust the height as needed */
}
