/* GridMap.css */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: var(--background-color);
}

/* Force mobile layout and center it on larger screens (laptops/desktops) */
@media screen and (min-width: 750px) {
  .grid-container {
    height: 60vh;
  }
}
