html,
body {
    height: 100%;
    background-color: #FF2551;
    padding: 0;
}


body {}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel.css-14gyywz-MuiSlider-valueLabel {
    background-color: #FF2551;
    font-family: 'Nova Mono';
    padding: 0.3rem;
    border-radius: 0.25rem;
}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel.css-14gyywz-MuiSlider-valueLabel::before {
    display: none;
}