:root {
    --primary-dark: #FF2551;
    --primary-medium: #FFDAE2;
    --primary-light: white;
}

::selection {
    background: var(--primary-medium);
    color: var(--primary-light);
}

html,
body {
    height: 100%;
    background-color: var(--primary-dark);
    padding: 0;
}


body {}
