.NavBarHeight {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.Navbar {
  display: flex;
  z-index: 2;
  justify-content: space-evenly;
}

/* Force mobile layout and center it on larger screens (laptops/desktops) */
@media screen and (min-width: 750px) {
  .NavBarHeight {
    display: flex;
    justify-content: center; /* Center the navbar horizontally */
    align-items: center; /* Center the navbar vertically */
    margin: 0 auto; /* Center the navbar content */
  }

  .Navbar {
    width: 100%;
    max-width: 430px; /* Set your preferred mobile width */
  }
}

.NavBarTitle {
  color: #ffffff !important;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.NavBarTitle:hover,
.NavBarTitle:active,
.NavBarTitle:focus {
}

.NavBarTitleAidata {
  color: #ff2551 !important;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.NavBarTitleAidata:hover,
.NavBarTitleAidata:active,
.NavBarTitleAidata:focus {
}

.responsive-navbar-nav {
  color: #ff2551;
  background-color: white;
  padding: 1em;
  margin: 5%;
  border-radius: 1em;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 90%;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: #ff2551;
}

.navbar-toggler-icon {
  background-image: url("/hamburger_custom-01.svg"); /* Update the path */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 50px; /* Adjust the width as needed */
}

.navbar-toggler {
  border: none;
  padding: 0;
  margin: 0;
  color: transparent;
}

.navbar-toggler-icon-default .navbar-toggler-icon {
  background-image: url("/hamburger_custom-01.svg"); /* Default icon path */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 50px;
}

.navbar-toggler-icon-aidata .navbar-toggler-icon {
  background-image: url("/hamburger_custom-02.svg"); /* Custom icon path for /aidata */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 50px; /* Adjust the width as needed */
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 50%; /* Move the left edge to the middle of the viewport */
  transform: translateX(
    -50%
  ); /* Shift the element by 50% of its width to center it */
  z-index: 1030;
  max-width: 430px;
  width: 100%; /* Set to 100% within the max-width */
  /* background-color: #ff2551; */
  /* box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.05); */
}

.dropdown-item.custom-nav-dropdown-item {
  color: #ff2551 !important;
}

#about-nav-dropdown {
  /* Styles for the dropdown toggle */
}

.custom-nav-dropdown-container .dropdown-menu {
  /* Styles for the dropdown menu */
  background-color: transparent;
  border: none;
}

.custom-nav-dropdown-item {
  /* Styles for dropdown items */
  color: #333;
  padding: 0 1rem;
  transition: color 0.2s ease-in-out;
  border: none;
  background-color: transparent !important;
}

.custom-nav-dropdown-item:hover {
  text-decoration: underline;
  background-color: transparent !important;
}

.nav-link-custom:hover,
.nav-link-custom:active {
  color: #ff2551 !important;
  text-decoration: underline;
}
