.weather-info {
  display: flex;
  align-items: center; /* Aligns the temperature and icon vertically */
  justify-content: flex-end; /* Aligns weather info to the right */
  flex: 1;
}

.weather-icon-container {
}

.weather-icon {
  width: 30px;
  height: 30px;
  padding: 0px 5px;
}

.weather-card-chart {
  padding: 0;
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  border-radius: 2rem;
  color: var(--primary-dark);
  font-size: 0.75rem;
  height: 100%;
  display: flex;
  justify-content: center; /* Center the card content horizontally */
  align-items: center; /* Center the card content vertically */
  display: flex;
}

.date-container {
  padding: 0px;
  margin: 0px;
}
