.weather-card {
  background-color: #ff2551; /* Bright pink background */
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  height: 100%;
  display: flex;
  justify-content: center; /* Center the card content horizontally */
  align-items: center; /* Center the card content vertically */
}

.card-body {
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p {
  margin: 20px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.weather-info p {
  margin: 0px 0px 20px 0px;
}

.weather-info img {
  margin: 0px 0px 0px 0px;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}
